body{
    font-family:Helvetica, Arial, sans-serif;
    background-color: black;
    color: aliceblue;
}
.container{
    margin: auto;
    max-width: 50%;
    color: white;
}
input, button, select{
    width:30%;
    padding:10px;
    margin-top: 10px;
}
button:hover{
    cursor:pointer;
}